nav ul li{
    list-style-type:none;
    display:inline;
    margin-right:10px;
    margin-left:10px;
    margin-top: 100px;
}
nav ul{
    background-color: tomato;
    border-style:solid;
    border-width:2px;
    padding:10px; 
    height:900px;
    display: flex;     
    flex-direction: column;
    justify-content: center; 
    align-items: center;}
nav{
    width:100px; 
    position:fixed;
    top:0px;
    left:0px;

    
}
#section1{
    background: linear-gradient(to top, red, black);
    width:100%;
    height:730px;
    display:flex;
    justify-content: center; 
    align-items: center;
}

#section2{
    background: linear-gradient(to top left, green, yellow);
    width:100%;
    height:720px;
    display:flex;
    justify-content: center; 
    align-items: center;
}

#section3{
    background: linear-gradient(to top right,white, darkblue);
    width:100%;
    height:720px;
    display:flex;
    justify-content: center; 
    align-items: center;
}

#section4{
    background: linear-gradient(to bottom right ,purple , pink);
    width:100%;
    height:720px;
    display:flex;
    justify-content: center; 
    align-items: center;
}

#section5{
    background: linear-gradient(to bottom left, cyan, blue);
    width:100%;
    height:720px;
    display:flex;
    justify-content: center; 
    align-items: center;
}

nav ul li.NoMargin{
    margin-top: 0px;
}

html{
    scroll-behavior: smooth;
}